@model IEnumerable<RFIDLogger.RfIdReader>
@{
    ViewBag.Title = "FilteredView";
}

<h2>Filtered view</h2>
<hr />

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />

<div class="form-group">
    <div>
        <label class="control-label col-md-2 form-inline">Start date:</label>
        <input type="text" id="txtStartDate" class="form-control datepicker" placeholder="tuten datum" />
    </div>
</div>

<div class="form-group">
    <div>
        <label class="control-label col-md-2 form-inline">End date:</label>
        <input type="text" id="txtEndDate" class="form-control datepicker" placeholder="tuten datum" />
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'dd.mm.yyyy',
        useCurrent: true,
        language: 'en',
        orientation: 'left bottom'
    });
</script>

<div class="form-group">
    <div>
        <label class="control-label col-md-2 form-inline">Name:</label>
        <input type="text" id="txtName" class="form-control" />
    </div>
</div>

<div class="form-group">
    <div>
        <label class="control-label col-md-2 form-inline">Surname:</label>
        <input type="text" id="txtSurname" class="form-control" />
    </div>
</div>

<div class="form-inline">
    <div>
        <label class="control-label col-md-2 form-inline">Reader location:</label>
        <input type="text" id="txtLocation" class="form-control" />

        @{
            List<SelectListItem> selectListItemList = new List<SelectListItem>();
            selectListItemList.Add(new SelectListItem { Text = " --- ", Value = "-1", Selected = true });
            Model.ToList().ForEach(x => selectListItemList.Add(new SelectListItem { Text = x.Location, Value = (x.IDReader).ToString() }));
            @Html.DropDownList("ddlLocations", selectListItemList, new { @id = "ddlLocations", @class = "form-control inline-element" });
        }

        <button id="btnFilter" class="btn btn-warning form-inline col-md-offset-2">Filter</button>
    </div>

</div>

<br />