@model IEnumerable<RFIDLogger.EntryLog>


<table class="table">
    <tr>
        <th>
            Entry time
        </th>
        <th>
            Location
        </th>
        <th>
            User
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfIdReader.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfIdUser.User.DisplayedName)
            </td>
        </tr>
    }
</table>
